<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="HostTokenID" value="ce77aa25-f401-4612-9b40-401ea39d3383"/>
    <add key="GuestTokenID" value="e2c246f5-f160-4f79-9189-46cda4079b29"/>
    <add key="shouldAccept" value="true"/>
    <add key="name" value="Ram|Mari|Vishnu|Sam|Sheldon|Riyaz|Ganesh|Steffi|Steve"/>
  </appSettings>
</configuration>